html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  height: 100vh;
}

.res-form {
  background-color: rgb(23, 23, 22);
  padding: 1rem;
}

.res-form .header-link {
  text-decoration: none;
  font-style: italic;
  text-align: center;
  color: rgb(221, 211, 161);
}

.res-form .slogan {
  font-size: 15px;
  text-align: center;
  color: rgb(183, 173, 122);
}

.res-form .form {
  padding-right: 10px;
  margin-top: 34%;
  text-align: center;
}

.res-form .form .search-header {
  color: rgb(221, 211, 161);
  margin-bottom: 50px;
}

.res-form .form .city-type, .cuisine-type, .mood-type {
  margin-bottom: 10px;
}


.res-form .form .city-type label, .cuisine-type label, .mood-type label {
  margin-right: 4px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: rgb(221, 211, 161);
}

.res-form .form .form-select {
  display: inline;
  color: #000000;
  background-color: #d2deec;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.res-form .form button {
  margin-top: 45px;
  width: 50%;
  padding: 5px 20px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #000000;
  background-color: rgb(221, 211, 161);
}

.res-form .form button:hover {
  background-color: rgb(189, 177, 118);
}


.container .data {
  background-color: rgb(218, 208, 160);
  padding: 5rem;
}

.container .data .data-header {
  color: #282e30;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 60px;
}

.container .data .place-details {
  background-color: rgb(29, 29, 29);
  margin: 15px;
  padding: 10px;
  text-align: center;
  color: rgb(221, 211, 161);
  border-radius: 10px;
}

.container .data .place-details .place-link {
  font-style: italic;
  color: rgb(221, 211, 161);
  margin: 2px;
}

.container .data .place-details .place-rating {
  margin: 2px;
}

.container .data .place-details .place-location {
  margin: 2px;
}

.footer {
  padding: 10px;
  position: fixed;
  height: fit-content;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer .signature {
  display: inline;
  padding: 10px;
}

.footer .gh-link {
  text-decoration: none;
}


@media only screen and (max-width: 800px) {
  .container {
    display: block;
  }

  .res-form {
    width: 100%;
  }

  .res-form .form {
    margin-top: 60px;
  }

  .res-form .form .search-header {
    margin-bottom: 40px;
    font-size: 28px;
  }  
  
  .res-form .form .city-type label, .cuisine-type label, .mood-type label {
    font-size: 20px;
  }
  
  .res-form .form .form-select {
    font-size: 18px;
  }

  .res-form .form button {
    margin-bottom: 45px;
    width: 40%;
    height: 50px;
    font-size: 18px;
  }

  .container .data {
    background-color: rgb(218, 208, 160);
    padding: 5rem;
    height: 100%;
    max-height: fit-content;
    min-height: 50%;
  }

  .container .data .data-header {
    margin-top: 0px;
    font-size: 30px;
  }
  
  .container .data-content {
    margin-bottom: 45px;
  }
}
